h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #34699A;
}

body {
  color: #182125;
}

a, a > code {
  color: #408AB4;
}
a:hover {
  color: #65C6C4;
}

.blinking{
  animation:blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.cols {
  display: flex;
}

.fifty {
  flex: 50%;
}

div.my-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    position: absolute;
    left: 15px;
    bottom: 2px;
}
